# Python caches
# Ignore local environment configuration secrets
.env

__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Local Database
*.db
backend/local_dealership.db

# IDEs
.vscode/
.idea/